/*Main Site Sass*/
@import '../common/mixins';
@import '../common/colours';
@import '../common/variables';
@import '../common/_bootstrap_variables';

#side_nav {
    transition: 0.5s ease;
    transform: translateX(-110%);
    position: fixed;
    height: 100%;
    z-index: 200;
    width: 250px;
    margin-right: -20px;
    background-color: $brand-slate;
    box-shadow: 5px 0 5px rgba($brand-slate,0.3);

    &.navOpen {
        transform: translateX(0%);

        @media(max-width:$screen-xs-min) {
            width: 100%;
        }
    }

    #page_side_nav {
        // height:calc(100% -46px);
        top: 0;
        bottom: 46px;
        // padding-top: 10px;
        color: $brand-med-light-grey;
        position: absolute;
        overflow-y: auto;
        overflow-x: hidden;
        //margin-right:-20px;
        @media(max-width:$screen-xs-min) {
            width: 100%;
        }

        ul {
            margin-bottom: 0;

            li {
                border-bottom: 1px solid rgba($brand-white,0.3);
                min-height: 46px;

                a {
                    display: block;
                    min-height: 46px;
                    min-width: 250px;
                    padding: 9px 30px 9px 25px;

                    &:hover {
                        text-decoration: none;
                        color: $brand-white;

                        .chevron-right {
                            border-top: 2px solid rgba($brand-white,0.5);
                            border-right: 2px solid rgba($brand-white,0.5);
                        }
                    }

                    &:focus {
                        text-decoration: none;
                    }

                    span {
                        display: inline-block;
                        height: 10px;
                        width: 10px;
                        float: right;
                        margin-top: 9px;

                        &.chevron-right {
                            border-top: 2px solid rgba($brand-white,0.3);
                            border-right: 2px solid rgba($brand-white,0.3);
                            transform: rotate(45deg);
                        }

                        &.chevron-down {
                            border-bottom: 2px solid $brand-white;
                            border-right: 2px solid $brand-white;
                            transform: rotate(45deg);
                        }
                    }

                    i {
                        margin-top: 6px;
                        margin-right: -2px;
                    }
                }

                &:first-child {
                    //padding: 0 25px 0 15px;
                    a {
                        display: inherit;
                        min-width: inherit;
                    }

                    a + a {
                        min-width: 250px;
                        padding-right: 25px;
                    }

                    min-height: 70px;
                    border-bottom: 1px solid $brand-white;

                    img {
                        margin-top: 12px;
                        float: right;
                    }

                    .navbar-sage-brand {
                        //padding-left:15px;
                        margin: 15px 0 0 15px;
                        width: 80px;
                        height: 32px;
                        display: inline-block;
                        background: url('/Content/images/sage_logo_green.svg') no-repeat center center;
                        float: left;
                    }
                }



                &.sub-section {
                    min-height: 60px;

                    a {
                        min-height: 60px;
                        padding-top: 16px;
                        padding-bottom: 16px;
                        color: $brand-white;
                        font-weight: bold;

                        span {
                            margin-top: 9px;
                        }
                    }
                }

                &.inner-level {
                    border-bottom: 1px solid $brand-white;
                    border-top: 1px solid $brand-white;

                    a {
                        &:hover {
                            color: $brand-white;
                        }

                        &.active {
                            span {
                                &.chevron-down {
                                    border-left: 2px solid $brand-white;
                                    border-top: 2px solid $brand-white;
                                    border-bottom: none;
                                    border-right: none;
                                }
                            }
                        }
                    }

                    ul {
                        display: none;

                        &.active {
                            display: block;
                        }
                        // margin:0 -15px;
                        li {
                            min-height: 46px;
                            border-bottom: 1px solid rgba($brand-white,0.3);

                            a {
                                min-height: 46px;
                                padding: 9px 30px 9px 25px;
                                font-weight: normal;
                                color: $brand-med-light-grey;
                            }

                            &:first-child {
                                border-top: 1px solid rgba($brand-white,0.3);
                                padding: 0;

                                a {
                                    padding: 9px 30px 9px 25px;
                                    min-width: 250px;
                                }
                            }

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }

                &:last-child {
                    margin-bottom: 46px;
                }
            }
        }




        a {
            color: $brand-med-light-grey;
        }
    }

    #contact_us_nav {
        position: absolute;
        bottom: 0;
        //z-index:25;
        width: 100%;

        a.contact {
            color: rgba($brand-white,0.7);
            display: block;
            min-height: 46px;
            padding: 9px 30px 9px 25px;
            border-top: 1px solid $brand-white;
            background-color: $brand-brilliant-green-AA;
            //@media(max-height:663px) {
            //    position: inherit;
            //    bottom: inherit;
            //}
            /*&.active {
                    position: inherit;
                    bottom: inherit;
                }*/
            &:hover {
                color: $brand-white;
                text-decoration: none;
            }
        }
    }
}
