@import '../partials/common_colours';
@import '../../../node_modules/font-awesome/scss/_variables.scss';
@import '../partials/sage_bootstrap_variables';
@import '../partials/common_mixins';

// Offset these to counteract sticky header vertical space
a.anchor:before {
  content: "";
  display: block;
  height: 90px;
  margin: -90px 0 0;
}

a.external-link {
  color: $brand-azul;
  text-decoration: underline;
  position: relative;
  display: inline-block;

  &:hover {
    color: $brand-azul-dark;

    &:before {
      color: $brand-med-dark-grey;
    }
  }
}

ul.external-links {
  margin: 30px 0 40px;

  > li {
    margin-top: 10px;
  }
}

a.button-back {
  padding: 12px 30px 12px 56px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  color: $brand-fuchsia;

  @media(max-width: $screen-xs-max) {
    font-size: 0.9em;
  }

  &:hover, &:active, &:focus, &:visited {
    text-decoration: none;
  }

  &:before {
    content: '';
    display: block;
    top: 0;
    bottom: 8px;
    left: 40px;
    position: absolute;
    border-left: 1px solid;
    margin-top: 8px;
  }

  &:after {
    content: '';
    display: block;
    height: 13px;
    width: 13px;
    top: 0;
    left: 20px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
    border-bottom: 1px solid;
    border-left: 1px solid;
  }
}