@import '../partials/common_colours';

.content-widget.switch-steps {
  .switch-step {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }

    .step-header {
      display: flex;

      .number {
        margin-right: 20px;

        span {
          font-size: 24px;
          display: block;
          text-align: center;
          color: $brand-white;
          width: 50px;
          height: 50px;
          background: $brand-brilliant-green-AA;
          line-height: 50px;
          border-radius: 50%;
          font-style: normal;
        }
      }

      .title {
        padding-top:10px;
        font-size: 1.4em;
        align-items: stretch;
      }
    }

    .video {
      position: relative;
      text-align: center;
      background: #000;
      height: 150px;
      line-height: 150px;
      font-size: 55px;
      color: #fff;
    }
  }
}