
.content-widget.hero-banner.static {
  .hero-banner-content {
    .generic-content-hero {
      .content-widget-inner {
        padding: 160px 8.33% 75px 8.33%;
      }
    }
  }
}

.content-widget.solution-explorer .content-widget-inner .wrapper {
  .solution-item {
    cursor: default;
  }

  a.solution-item {
    display: block;
    cursor: pointer !important;

    &:hover {
      text-decoration: none;
    }
  }
}