@import '_ux2_colours';

#page_header_nav {
  .call-to-action {
    position: relative;
    color: $ux2-white;

    .inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 9000;
      overflow: visible;

      &.sticky {
        position: fixed;
      }

      .action-bar {
        @include linear-h-gradient(rgba($ux2-fuchsia-dark, 1.0), rgba($ux2-fuchsia, 1.0));

        .title {
          margin-top: 20px;
          font-size: 32px;
        }

        .actions {
          text-align: right;

          .from {
            vertical-align: middle;
          }

          a {
            padding: 8px 70px 8px 12px;
            margin: 12px 20px;

            &.button-white-solid-invert {
              color: $ux2-fuchsia;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      .nav-bar {
        background: #f0f0f0;

        ul{
          margin:0;

          li{
            float:left;
            position:relative;
            margin-right:50px;

            &:after {
              content: "";
              border-right: 2px solid $ux2-black;
              position: absolute;
              top: 20%;
              right:-26px;
              height: 60%;
            }

            &:last-child {
              margin-right: 0;

              &:after {
                border: none
              }
            }

            a {
              display: inline-block;
              position: relative;
              color: $ux2-black;
              padding: 3px 0px;
              margin-bottom: 3px;

              &:hover {
                color:$ux2-fuchsia;
                text-decoration: none;
                margin-bottom: 1px;
                border-bottom: 2px solid $ux2-fuchsia;
              }
            }
          }
        }
      }
    }
  }

  .nav-pills-sage.header-right li a {
    color: $ux2-slate-dark;
    font-family: AdelleSansSAGE;
  }

  .nav-pills-sage li {
    a {
      color: $ux2-slate-dark;
      font-family: AdelleSansSAGE;

      i {
        margin-left: 10px;
      }
    }
  }
}