@import '_ux2_colours';
@import '../partials/sage_bootstrap_variables';

#page_header_nav {
  .sticky-header {
    position: relative;
    color: $ux2-white;
    z-index: 100;

    &.amethyst .sticky-row {
      @include linear-h-gradient(rgba($ux2-amethyst, 1.0), rgba($ux2-amethyst-light, 1.0));
    }

    &.azul .sticky-row {
      @include linear-h-gradient(rgba($ux2-azul-dark, 1.0), rgba($ux2-azul, 1.0));
    }

    &.fuchsia .sticky-row {
      @include linear-h-gradient(rgba($ux2-fuchsia-dark, 1.0), rgba($ux2-fuchsia, 1.0));
    }

    &.plum .sticky-row {
      @include linear-h-gradient(rgba($ux2-plum-dark, 1.0), rgba($ux2-plum, 1.0));
    }

    .sticky-row {
      @include linear-h-gradient(rgba($ux2-grey-darker, 1.0), rgba($ux2-grey-light, 1.0));
    }

    .inner {
      overflow: visible;

      &.sticky {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
      }

      .action-bar {
        padding-top: 12px;

        .title {
          font-size: 30px;
        }

        .actions {
          text-align: right;

          .from {
            display: inline-block;
            font-size: 14px;

            > span {
              font-size: 24px;
            }
          }

          a {
            padding: 4px 70px 4px 25px;
            margin: 0 20px;
            vertical-align: bottom;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      .nav-bar {
        ul {
          margin: 0 0 3px;
          font-size: 13px;

          &:after {
            content: "";
            display: block;
            clear: both;
          }

          li {
            float: left;
            position: relative;
            margin-right: 60px;

            &:after {
              content: "";
              border-right: 1px solid $ux2-white;
              position: absolute;
              bottom: 0;
              right: -31px;
              height: 60%;
            }

            &:last-child {
              margin-right: 0;

              &:after {
                border: none;
              }
            }

            a {
              display: inline-block;
              position: relative;
              color: #eee;
              margin-bottom: 3px;
              line-height: normal;
              padding-bottom: 2px;

              &.active {
                margin-bottom: 0px;
                border-bottom: 3px solid #eee;
              }

              &:hover {
                color: $ux2-white;
                text-decoration: none;
                margin-bottom: 0px;
                border-bottom: 3px solid $ux2-white;
              }
            }
          }
        }
      }
    }
  }

  .nav-pills-sage.header-right li a {
    color: $ux2-slate-dark;
    font-family: AdelleSansSAGE;
  }

  .nav-pills-sage li {
    a {
      color: $ux2-slate-dark;
      font-family: AdelleSansSAGE;

      i {
        margin-left: 10px;
      }
    }
  }
}

@media(max-width: $screen-xs-max) {
  #page_header_nav {
    .sticky-header {
      height: auto;
      overflow: visible;

      &.amethyst .actions {
        @include linear-h-gradient(rgba($ux2-amethyst, 1.0), rgba($ux2-amethyst-light, 1.0));
      }

      &.azul .actions {
        @include linear-h-gradient(rgba($ux2-azul-dark, 1.0), rgba($ux2-azul, 1.0));
      }

      &.fuchsia .actions {
        @include linear-h-gradient(rgba($ux2-fuchsia-dark, 1.0), rgba($ux2-fuchsia, 1.0));
      }

      &.plum .actions {
        @include linear-h-gradient(rgba($ux2-plum-dark, 1.0), rgba($ux2-plum, 1.0));
      }

      .actions {
        @include linear-h-gradient(rgba($ux2-grey-darker, 1.0), rgba($ux2-grey-light, 1.0));
      }

      .inner {
        &.sticky {
          position: static;
        }

        .action-bar {
          border-bottom: 1px solid $ux2-white;
          padding: 0;

          .title {
            position: relative;
            padding: 15px;
            font-size: 24px;
            cursor: pointer;

            &:after {
              content: "";
              height: 15px;
              width: 15px;
              display: block;
              border-right: 1px solid $ux2-white;
              border-bottom: 1px solid $ux2-white;
              transform: rotate(45deg);
              position: absolute;
              right: 25px;
              top: 30%;
            }

            &.open {
              &:after {
                transform: rotate(225deg);
                bottom: 30%;
                top: initial;
              }
            }
          }

          .actions {
            position:fixed;
            bottom:0;
            left:0;
            right:0;
            padding:3px 15px;

            a{
              width:auto;
              padding:2px 40px 2px 8px;

              &:before{
                width:0;
                top:2px;
                bottom:10px;
              }

              &:after{
                width:8px;
                height:8px;
                right:10px;
              }
            }
          }
        }

        .nav-bar {
          position:absolute;
          left:0;
          right:0;
          transform: scaleY(0);
          transform-origin: top;
          margin: 0;
          overflow: hidden;
          transition: all 0.5s ease-out;

          &.open {
            transform: scaleY(1);
            overflow: visible;
          }

          ul {
            padding: 15px 15px 20px;

            li {
              float: none;
              margin-right: 0;
              padding: 9px 0;
              font-size: 16px;

              &:after {
                content: none;
                border: none;
              }

              a {
                padding-bottom: 1px;
              }
            }
          }
        }
      }
    }
  }
}