@import '_ux2_colours';

#page_header_nav {
  .call-to-action {
    position: relative;
    color: $ux2-white;

    .inner {
      @include linear-h-gradient(rgba($ux2-fuchsia-dark, 1.0), rgba($ux2-fuchsia, 1.0));
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 9000;
      overflow: visible;

      &.sticky {
        position: fixed;
      }

      .action-bar {
        margin-top: 16px;

        .title {
          font-size: 30px;
        }

        .actions {
          text-align: right;

          .from {
            display: inline-block;
            font-size: 18px;

            > span {
              font-size: 30px;
            }
          }

          a {
            padding: 4px 70px 4px 25px;
            margin: 0 20px;
            vertical-align: bottom;

            &.button-white-solid-invert {
              color: $ux2-fuchsia;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      .nav-bar {
        margin-top: 2px;

        ul {
          margin: 0;
          font-size: 13px;

          li {
            float: left;
            position: relative;
            margin-right: 60px;

            &:after {
              content: "";
              border-right: 1px solid $ux2-white;
              position: absolute;
              bottom: 0;
              right: -31px;
              height: 60%;
            }

            &:last-child {
              margin-right: 0;

              &:after {
                border: none
              }
            }

            a {
              display: inline-block;
              position: relative;
              color: $ux2-white;
              padding: 1px 0px;
              margin-bottom: 2px;

              &.active {
                margin-bottom: 0px;
                border-bottom: 2px solid $ux2-white;
              }

              &:hover {
                color: $ux2-fuchsia-lighter;
                text-decoration: none;
                margin-bottom: 0px;
                border-bottom: 2px solid $ux2-fuchsia-lighter;
              }
            }
          }
        }
      }
    }
  }

  .nav-pills-sage.header-right li a {
    color: $ux2-slate-dark;
    font-family: AdelleSansSAGE;
  }

  .nav-pills-sage li {
    a {
      color: $ux2-slate-dark;
      font-family: AdelleSansSAGE;

      i {
        margin-left: 10px;
      }
    }
  }
}