@import '../common/_bootstrap_variables';
@import '../common/_colours';

#search {
  display:flex;

  #refine {
    background:$off-brand-grey-light;
    width:40%;

    .filters {
      float:right;
    }
  }

  #results{
    width:60%;
    background:$brand-white;
  }
}