@import '../partials/common_mixins';
@import '../partials/common_colours';

form.ux2form {
  margin: 50px 0;

  legend {
    border: none;
    color: $brand-fuchsia;
    margin-bottom: 40px;
  }

  label {
    position: relative;
    margin-bottom: 40px;
    text-transform: uppercase;

    &.focus-within {
      color: $brand-fuchsia;
    }

    input[type="text"], input[type="password"] {
      display: block;
      width: 100%;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 2px solid $brand-light-grey;

      &:focus {
        outline: none;
        border-bottom-color: $brand-fuchsia;
      }
    }

    input[type="checkbox"] {
      visibility: hidden;
      height: 0;
      width: 0;

      & + i {
        position: relative;
        float: left;
        display: block;
        margin-left: 25px;
        width: 50px;
        min-height: 25px;
      }

      & + i:before {
        content: "";
        display: block;
        position: absolute;
        width: 26px;
        height: 26px;
        background: $brand-fuchsia;
        border-radius: 15%;
      }

      & + i:after {
        content: "";
        display: block;
        position: absolute;
        left: 8px;
        width: 10px;
        height: 20px;
        transform: rotate(45deg);
        border-bottom: 3px solid $brand-fuchsia-dark;
        border-right: 3px solid $brand-fuchsia-dark;
      }

      &:checked + i:after {
        border-color: $brand-white;
      }
    }

    a {
      text-decoration: underline;
    }
  }

  button[type="submit"] {
    @include linear-h-gradient(rgba($brand-fuchsia-dark, 1.0), rgba($brand-fuchsia, 1.0));
    color: $brand-white;
    font-weight: bold;
  }

  a {
    display: inline-block;
    color: $brand-slate-light;
    text-decoration: underline;
    font-weight: bold;
  }

  .link-options {
    line-height: 50px;
    text-align: right;
  }
}