@import '../common/_mixins';
@import '../common/_colours';
@import '../common/_variables';
@import '../common/_bootstrap_variables';

.content-widget.solutions {
  .content-widget-inner {
    .filter-module-content {
      .filter-module-results {

        //todo: hack
        &.center .slick-track{
          margin:auto;
        }

        .product-panel {
          margin: 0 1.5%;

          @media (max-width: $screen-sm-max) {
            margin: 0 1%;
          }

          .panel {
            margin-top: 15px;

            &.panel-default {
              background-color: $brand-azul;

              &.plum {
                @include linear-h-gradient(rgba($brand-plum-dark, 1.0), rgba($brand-plum, 1.0));

                .button-learnmore {
                  @include linear-h-gradient(rgba($brand-plum-dark, 1.0), rgba($brand-plum, 1.0));
                }
              }

              @include linear-h-gradient(rgba($brand-azul-dark, 1.0), rgba($brand-azul-light, 1.0));
              @include default-shadow;
              border-radius: 6px;

              .with-tick {
                li:before {
                  color: $brand-azul;
                }
              }

              .panel-pre-heading {
                text-align: center;
                color: $brand-white;
                font-size: 0.8em;
                min-height: 8px;
                padding: 4px;
                border-radius: 5px 5px 0 0;
                background-color: rgba($brand-black, 0.33);
              }

              .panel-heading {
                color: $brand-white;
                border: none;
                transition: $default-transition-time ease;
                background-color: transparent;
                overflow: hidden;

                p {
                  text-align: center;

                  &.title {
                    font-size: 24px;
                    font-weight: bold;
                  }

                  &.desc {
                    span {
                      font-size: 11px;
                    }
                  }
                }
              }

              .panel-body {
                border-radius: 0 0 5px 5px;
                padding: 65px 15px 15px 15px;
                border: 0 none;
                background: transparent url('/Content/images/cardCurve.svg') top center;
                background-size: cover;

                p {
                  margin-bottom: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}