@import '../partials/_common_mixins';
@import '../partials/_common_colours';
@import '../partials/_common_variables';
@import '../partials/_sage_bootstrap_variables';

.content-widget.solutions {
  .content-widget-inner {
    .filter-module-content {
      .filter-module-results {
        .product-panel {
          margin: 0 1.5%;

          @media (max-width: $screen-sm-max) {
            margin: 0 1%;
          }

          .panel {
            margin-top: 15px;

            &.panel-default {
              background-color: $brand-azul;
              @include linear-h-gradient(rgba($brand-dark-azul, 1.0), rgba($brand-light-azul, 1.0));
              @include default-shadow;
              border-radius: 6px;

              .with-tick {
                li:before {
                  color: $brand-azul;
                }
              }

              .panel-pre-heading {
                text-align: center;
                color: $brand-white;
                font-size: 0.8em;
                min-height: 8px;
                padding: 4px;
                border-radius: 5px 5px 0 0;
                background-color: rgba($brand-black, 0.33);
              }

              .panel-heading {
                color: $brand-white;
                border: none;
                transition: $default-transition-time ease;
                background-color: transparent;
                overflow: hidden;

                p {
                  text-align: center;

                  &.title {
                    font-size: 24px;
                    font-weight: bold;
                  }

                  &.desc {
                    span {
                      font-size: 11px;
                    }
                  }
                }
              }

              .panel-body {
                border-radius: 0 0 5px 5px;
                padding: 65px 15px 15px 15px;
                background-color: transparent;
                border: 0 none;
                background-image: url("/Content/images/cardCurve.svg");
                background-position: top center;
                background-size: cover;

                ul {
                  height: 180px;
                  overflow: hidden;
                }

                p {
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}