@import '../partials/sage_bootstrap_variables';
@import '../partials/common_mixins';
@import '_ux2_colours';

.content-widget.industries {
  .section {
    margin-top: 40px;
  }

  .industry-info {
    background: #f2f3f4;
    border: 1px solid $ux2-azul;
    text-align: center;
    padding: 30px 20%;
    height: 430px; // temp hack

    &:hover {
      background: $ux2-white;
      border-color: $ux2-azul-light;
    }

    img {
      width: 70px;
      height: 70px;
    }

    .title {
      font-weight: bold;
      color: $ux2-azul;
      margin-top: 14px;
    }

    ul {
      position: relative;
      margin-top: 20px;
      padding-top: 20px;
      color: $ux2-grey-darker;
      font-size: 15px;

      &:before {
        content: '';
        border-top: 2px solid $ux2-black;
        width: 50%;
        position: absolute;
        top: 0;
        left: 25%;
      }
    }
  }
}