@import '../partials/sage_bootstrap_variables';
@import '../partials/common_mixins';
@import '../partials/common_colours';

.content-widget.link-panels {
  .section {
    margin-top: 40px;
  }

  .link-panel-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }

  .link-panel-row.show-3 {
    padding:0 12%;

    .link-panel {
      width: 32%;
      margin: 0.5%;
    }
  }

  .link-panel-row.show-4 {
    .link-panel {
      width: 24%;
      margin: 0.5%;
    }
  }

  @media (max-width: $screen-md-max) {
    .link-panel-row.show-3{
      padding:0 8%;
    }
  }

  @media (max-width: $screen-sm-max) {
    .link-panel-row.show-3{
      padding:0 5%;
    }

    .link-panel-row.show-3, .link-panel-row.show-4 {
      .link-panel {
        width: 48%;
        margin: 1%
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    .link-panel-row.show-3{
      padding:0;
    }
  }

  @media (max-width: $screen-xxs-max) {
    .link-panel-row.show-3{
      padding:0;
    }

    .link-panel-row.show-3, .link-panel-row.show-4 {
      .link-panel {
        width: 100%;
        margin: 10px 0;
      }
    }
  }

  .link-panel {
    display: block;
    position: relative;
    color: $brand-med-dark-grey;
    background: $brand-white;
    border: 1px solid #dcddde;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    text-align: center;
    padding: 30px 30px 80px;

    &:visited, &:focus {
      text-decoration: none;
    }

    &:hover {
      text-decoration: none;
      background: #fcfcfc;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    }

    .link-panel-header {
      img {
        width: 50px;
        height: 50px;
      }

      .title {
        color: $brand-azul;
        margin-top: 14px;
        font-size: 20px;
      }
    }

    .link-panel-body {
      position:relative;

      &:after {
        content: '';
        border-top: 1px solid $brand-black;
        width: 50%;
        position: absolute;
        top: 0;
        left: 25%;
      }

      ul {
        position: relative;
        margin-top: 20px;
        padding-top: 20px;
        font-size: 14px;
        line-height: 1.5;
      }
    }

    .link-panel-footer {
      position: absolute;
      bottom: 30px;
      left: 30px;
      right: 30px;

      .c2a {
        white-space: nowrap !important;
      }
    }
  }
}