@import '../partials/sage_bootstrap_variables';
@import '../partials/common_mixins';
@import '../partials/common_colours';

.content-widget.product-features {
  h1, h2 {
    color: $brand-plum;
  }

  .section {
    .row {
      padding: 30px 0 40px;
      border-bottom: 1px solid $brand-light-grey;
    }

    .learn-more {
      margin-top:20px;
    }


  }
}

.content-widget.product-feature-detail{
  margin-top:30px;

  h1 {
    color: $brand-plum;
  }

  .row.indent-m-md {
    margin-bottom:30px;
    padding-bottom:50px;
    border-bottom:2px solid $brand-light-grey;
  }
}