@import '../partials/sage_bootstrap_variables';
@import '../partials/common_mixins';
@import '_ux2_colours';

.content-widget.product-features {
  h2 {
    color: $ux2-fuchsia;
  }

  .section {
    .row {
      padding: 30px 0 40px;
      border-bottom: 1px solid $ux2-grey-lighter;
    }

    .learn-more {
      margin-top:20px;
    }

    .external-links {
      margin: 30px 0 40px;

      li{
        margin-top:20px;
      }
    }
  }
}