@import '../partials/common_colours';

.button-black, .button-black-block, .button-blue, .button-blue-block, .button-green, .button-green-block, .button-pink, .button-pink-block, .button-white, .button-white-block {
  padding: 6px 70px 6px 20px;
  font-size:14px;

  &:before {
    width: 20px;
  }
}

.row {
  &.indent-m-md {
    margin-left: 8%;
    margin-right: 8%;
  }
}

#page_header_nav.navbar-sage {
  .navbar-sage-brand {
    height:34px;
    margin-top:19px;
  }

  .nav-pills-sage.header-right li a {
    color: $brand-slate-dark;
    font-family: AdelleSansSAGE;
  }

  .nav-pills-sage li {
    a {
      color: $brand-slate-dark;
      font-family: AdelleSansSAGE;

      i {
        margin-left: 10px;
      }
    }
  }
}

.content-widget.solution-explorer .content-widget-inner .wrapper {
  .solution-item {
    cursor: default;
  }

  a.solution-item {
    display: block;
    cursor: pointer !important;

    &:hover {
      text-decoration: none;
    }
  }
}