@import '../common/_bootstrap_variables';
@import '../common/_colours';

#page_header_nav {

  #header-search {
    visibility: hidden;
    pointer-events: none;
    z-index: 300;
    position: fixed;
    width: 100%;
    height: 100%;
    background: transparentize($brand-black, 1);
    transition: all 0.5s ease-out;

    &.open {
      visibility: visible;
      pointer-events: auto;
      background: transparentize($brand-black, 0.3);

      > .bar {
        transform: scaleY(1);
      }
    }

    > .bar {
      border-top: 1px solid $off-brand-grey;
      background: $off-brand-grey-ultralight;
      padding: 20px 0;
      transform: scaleY(0);
      transform-origin: top;
      transition: all 0.5s ease-out;

      form {
        position: relative;
        background: $brand-white;
        border: 1px solid $off-brand-grey-light;
        padding-right: 30px;

        input {
          display: inline-block;
          border: none;
          border-radius: 0;
          -webkit-box-shadow: none;
          box-shadow: none;
          width: 100%;
          background-color: transparent;
          font-size: 16px;
          color: $brand-azul;
        }

        button {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          border: none;
          background: none;
          color: $brand-azul;
        }
      }
    }
  }
}