$ux2-white: #fff;
$ux2-grey-lighter: #a7a8aa;
$ux2-grey-light: #97999b;
$ux2-grey: #888b8d;
$ux2-grey-dark: #75787b;
$ux2-grey-darker: #63666a;
$ux2-black: #2c2a29;

$ux2-amethyst-lighter: #493062;
$ux2-amethyst-light: #483ba7;
$ux2-amethyst: #250e62;
$ux2-amethyst-dark: #03012d;

$ux2-azul-lighter: #92d0ec;
$ux2-azul-light: #28a3da;
$ux2-azul: #004b87;
$uz2-azul-dark: #073460;

$ux2-fuchsia-lighter: #f4abd0;
$ux2-fuchsia-light: #f180d1;
$ux2-fuchsia: #ce0058;
$ux2-fuchsia-dark: #a40769;

$ux2-green:#00dc00;
$ux2-green-dark:#41a940;

$ux2-plum-lighter: #cfbdf2;
$ux2-plum-light: #ab86dc;
$ux2-plum: #8246af;
$ux2-plum-dark: #4b2d7a;

$ux2-slate-lighter: #8ab7c2;
$ux2-slate-light: #177286;
$ux2-slate: #003349;
$ux2-slate-dark: #021e26;