// Variables
@import 'common/_variables';
@import 'common/_colours';
@import 'common/_mixins';
@import 'common/_fonts';

// Vendor styles
@import 'common/_bootstrap_variables'; // Must be imported prior to bootstrap to work properly
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../node_modules/font-awesome/scss/font-awesome';
@import '../../node_modules/slick-carousel/slick/slick.scss';

@import 'common/_lib_slick_theme';
@import 'common/_grids';
@import 'common/_fonts';
@import 'common/_buttons';
@import 'common/_typography';
@import 'common/_helpers';
@import 'common/_colour_classes';
@import 'common/_icons';
@import 'common/_common';

@import 'components/_content_widget';
@import 'components/_tree_list';
@import 'components/_generic_content';
@import 'components/_promoted_article';
@import 'components/_two_col_generic_content';
@import 'components/_page_listing';
@import 'components/_solution_listing';
@import 'components/_solutions_module';
@import 'components/_accounting_module';
@import 'components/_product_filter_module';
@import 'components/_video';
@import 'components/_switcher';
@import 'components/_form';
@import 'components/_roi';
@import 'components/_articles';
@import 'components/_search';
@import 'components/_page_not_found';
@import 'components/_hero_banner';
@import 'components/_hero_banner_tabs';
@import 'components/_hero_banner_static';
@import 'components/_hero_banner_solutions';
@import 'components/_generic_tabs';
@import 'components/_solution_explorer';
@import 'components/_product_pricing';
@import 'components/_generic_list';
@import 'components/_customer_stories_tabs';
@import 'components/_product_device';

@import 'page/_header_nav_content';
@import 'page/_header_sticky';
@import 'page/_section_content';
@import 'page/_footer';
@import 'page/_side_nav_content';
@import 'page/_experience_editor';

@import 'ux2/_ux2_colour_classes';
@import 'ux2/_ux2_common';
@import 'ux2/_ux2_form';
@import 'ux2/_ux2_header_search';
@import 'ux2/_ux2_page_footer';
@import 'ux2/_ux2_side_nav';
@import 'ux2/_ux2_content_widget_accordion';
@import 'ux2/_ux2_content_widget_explore';
@import 'ux2/_ux2_content_widget_info_boxes';
@import 'ux2/_ux2_content_widget_link_panels';
@import 'ux2/_ux2_content_widget_quote';
@import 'ux2/_ux2_content_widget_solutions_old';
@import 'ux2/_ux2_content_widget_solutions';
@import 'ux2/_ux2_content_widget_skinny_hero';
@import 'ux2/_ux2_content_widget_switch_steps';
@import 'ux2/_ux2_product_features';
@import 'ux2/_ux2_product_filter';
@import 'ux2/_ux2_search';
@import 'ux2/_ux2_overrides';