@import '../common/bootstrap_variables';

.title-pane {
    @media (max-width:$screen-sm-min) {
        text-align: center;
    }
}

.accounting-module {
    @media(max-width:$screen-md-max) {
        overflow: hidden;
    }

    &.open {
        .row {
            opacity:1;
            &:nth-child(1) {
            transform: translate(0);
            }
            &:nth-child(2) {
                transform: translate(0);
            }
            &:nth-child(3) {
                transform: translate(0);
            }
        }
    }
    .row {
        transition: 1s ease;
        opacity:0;
        &:nth-child(1) {
            transform: translate(-50%);
        }
        &:nth-child(2) {
            transform: translate(-60%);
        }
        &:nth-child(3) {
            transform: translate(-70%);
        }
    }

    #phone_fan {
        position: relative;
        width: 100%;
        padding: 30px 0 0 0;

        @media(max-width:$screen-md-max)and (min-width:$screen-md-min) {
            transform: translate(38%,0);
        }

        @media(max-width:$screen-sm-max)and (min-width:$screen-sm-min) {
            transform: translate(34%,0);
        }

        @media(max-width:$screen-xs-max)and (min-width:$screen-xs-min) {
            transform: translate(29%,0);
        }

        @media(max-width:$screen-xxs-max)and (min-width:$screen-xxs-min) {
            transform: translate(25%,0);
        }


        img {
            width: 100%;
            height: auto;
            max-height: 700px;

            @media(max-width:$screen-md-max) {
                max-height: 600px;
            }
        }

        .phone {
            position: absolute;
            background-size: 80% 70%, 100% 100%;
            background-position: center, center;
            width: 50%;
            margin: 0 auto;
            background-repeat: no-repeat;
            transition: transform 1s ease;

            @media(max-width:$screen-md-max) and (min-width:$screen-md-min) {
                width: 25%;
            }

            @media(max-width:$screen-sm-max) and (min-width:$screen-sm-min) {
                width: 32%;
            }

            @media(max-width:$screen-xs-max) and (min-width:$screen-xs-min) {
                width: 42%;
            }

            img {
                width: 100%;
                height: auto;
                max-height: none;
            }

            &.left {
                background-image: url(/images/sample_content_images/pink_rect.jpg), url(/images/sample_content_images/iphone.png);
            }

            &.right {
                background-image: url(/images/sample_content_images/pink_rect.jpg), url(/images/sample_content_images/iphone.png);
            }

            &.centre {
                background-image: url(/images/sample_content_images/pink_rect.jpg), url(/images/sample_content_images/iphone.png);
            }
        }

        &.open {
            .phone {
                &.left {
                    transform: rotate(-15deg) translate(-70%, -8%);
                }

                &.right {
                    transform: rotate(15deg) translate(70%, -8%);
                }
            }
        }
    }
}
