/*Base Variables*/
$bootstrap-margin-reset: -15px;
$default-padding-fixed-val: 15px;
$default-padding-fixed-mobile-val: 15px;
$default-transition-time: 0.33s;
$default-font-size-xxs: 0.6em;
$default-font-size-xs: 0.8em;
$default-font-size-sm: 1.0em;
$default-font-size-md: 1.2em;
$default-font-size-lg: 1.7em;
$default-fixed-width: 1360px;
$default_content_widget_padding: $default-padding-fixed-val 15px $default-padding-fixed-val 15px;
$default-border-radius: 4px;
$default-font: AdelleSansSAGE, sans-serif;
$default-font-thin: AdelleSansSAGETh, sans-serif;