/*Main Site Sass*/
@import '_common_mixins';
@import '_common_colours';
@import '_common_variables';
@import '_sage_bootstrap_variables';

.inline-block{
    display:inline-block;  
}
.vertical-aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.forced-aspect {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;

    img {
        width: 100%;
        height: auto;

        &.aspect-4-3 {
            content: url("/Content/images/trans_4_3_rectangle.gif") !important;
        }

        &.aspect-16-9 {
            content: url("/Content/images/trans_16_9_rectangle.gif") !important;
        }
    }
}

.ul-reset {
    padding:0;
    margin:0;
    list-style:none;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    &.xxs-flex-block {
        @media (max-width: $screen-xxs-max) {
            display: block;
        }
    }
    &.xs-flex-block {
        @media (max-width: $screen-xs-max) {
            display: block;
        }
    }
     &.sm-flex-block {
        @media (max-width: $screen-sm-max) {
            display: block;
        }
    }
      &.md-flex-block {
        @media (max-width: $screen-md-max) {
            display: block;
        }
    }
}

.flex-row-wrap {
    flex-flow: row wrap;
    align-items: flex-start;
}

.flex-col-wrap {
    flex-flow: column wrap;
    align-items: flex-start;
    .header {
        width:100%;
    }
    .section {
        width:100%;
    }
    .footer {
        width:100%;
    }
}

.row-eq-height-middle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
     &.xxs-flex-block {
        @media (max-width: $screen-xxs-max) {
            display: block;
        }
    }
    &.xs-flex-block {
        @media (max-width: $screen-xs-max) {
            display: block;
        }
    }
     &.sm-flex-block {
        @media (max-width: $screen-sm-max) {
            display: block;
        }
    }
      &.md-flex-block {
        @media (max-width: $screen-md-max) {
            display: block;
        }
    }
}
.full-width {
    width:100% !important;
}
.as-table {
    display:table;
    .as-table-row {
        display:table-row;
        .as-table-cell {
            display:table-cell;
        }
    }
}
