$brand-white: #fff;
$brand-light-grey: #a7a8aa;
$brand-med-light-grey: #97999b;
$brand-med-grey: #888b8d;
$brand-med-dark-grey: #75787b;
$brand-dark-grey: #63666a;
$brand-black: #2c2a29;

$brand-slate-ultralight: #8ab7c2;
$brand-slate-light: #177286;
$brand-slate: #003349;
$brand-slate-dark: #021e26;

$brand-azul-ultralight: #92d0ec;
$brand-azul-light: #28a3da;
$brand-azul: #004b87;
$brand-azul-dark: #073460;

$brand-amethyst-ultralight: #493062;
$brand-amethyst-light: #483ba7;
$brand-amethyst: #250e62;
$brand-amethyst-dark: #03012d;

$brand-plum-ultralight: #cfbdf2;
$brand-plum-light: #ab86dc;
$brand-plum: #8246af;
$brand-plum-dark: #4b2d7a;

$brand-fuchsia-ultralight: #f4abd0;
$brand-fuchsia-light: #f180d1;
$brand-fuchsia: #ce0058;
$brand-fuchsia-dark: #a40769;

$brand-brilliant-green: #00dc00;
$brand-brilliant-green-AA: #41A940;
$brand-dark-green: darken($brand-brilliant-green, 20%);

$brand-facebook: #3b5998;
$brand-twitter: #1da1f2;
$brand-google-plus: #dd4b39;
$brand-youtube: #cd201f;
$brand-linkedin: #0077b5;
$brand-instagram: #405de6;
$brand-pinterest: #bd081c; 

/*Page Default Colours*/
$page-background-color: $brand-white;
$page-section-background-color: $brand-white;
$page-foreground-color: $brand-dark-grey;
$page-side-nav-background-color: $brand-azul-dark;
$page-side-nav-foreground-color: $brand-med-light-grey;

$page-header-nav-background-color: $brand-white;
$page-header-nav-sub-content-background-color: $brand-med-light-grey;
$page-header-nav-sub-call-to-action-background-color: $brand-fuchsia;
$page-footer-content-background-color:$brand-dark-grey;
$page-header-nav-color: $brand-dark-grey;
$page-footer-content-background-color:$brand-dark-grey;