/*Main Site Sass*/
@import '_common_mixins';
@import '_common_colours';
@import '_common_variables';
@import '_sage_bootstrap_variables';

#glass {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    display: none;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.6);
}

html {
}

body {
    display: block !important;

    .close {
        opacity: 0.6;

        &:hover {
            opacity: 1;
        }
    }

    .container-fluid {
        &.with-max-width {
            max-width: $default-fixed-width;

            .wrapper {
                max-width: none;
            }
        }

        .wrapper {
            max-width: $default-fixed-width;
            margin: 0 auto;
        }
    }

    background-color: $page-background-color;
    font-size: 16px;
    line-height: 1.7em;
    font-family: $default-font;
    height: 100%;
    text-rendering: optimizeLegibility;


    .forced-image {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        img {
            width: 100%;
        }
    }

    .link-divider {
        padding: 0 8px;
    }

    blockquote {
        border-left: none;
    }

    .pad-col-top {
        padding-top: $default-padding-fixed-val;
    }

    .with-tick {
        list-style-type: none;
        padding-left:30px;
        li:before {    
            font-family: 'FontAwesome';
            content: '\f00c';
            margin:0 15px 0 -30px;
        }
    }

    .nav-pills-sage {
        li {
            display: inline-block;
        }
    }

    .alert-animate {

        .widget-placeholder-inner {
            transition: $default-transition-time ease;
            opacity: 1;
            transform: translate(0, -100%) scale(1, 1);
            pointer-events: auto;
            width: 100%;
            position: absolute;
            padding: 0 30px 0 0;
            z-index: 999;

            @media(max-width:$screen-md-max) {
            }

            @media(max-width:$screen-sm-max) {
               // margin-top: 10%;
            }

            @media(max-width:$screen-xs-max) {
            }

            @media(max-width:$screen-xxs-max) {
                margin-top: 30%;
            }
        }

        &.hidden {
            display: block !important;

            .widget-placeholder-inner {
                transition: $default-transition-time ease;
                opacity: 0;
                pointer-events: none;
                transform: translate(-40%, -40%) scale(0.5, 0.5);
            }
        }
    }

    .row-fade-animate {
        transition: opacity $default-transition-time ease, transform $default-transition-time ease;
        opacity: 1;
        display: block;

        &.hidden {
            transition: opacity $default-transition-time ease, transform $default-transition-time ease;
            opacity: 0;
            display: block !important;
        }
    }

    .alert-info {
        background-color: lighten($brand-slate,75%);
        border-color: transparent;
        color: inherit;
        border-radius: 4px;
        box-shadow: 0 0 10px 0 rgba(36,55,65,0.33);
        margin-bottom:0px;
    }

    #page_main {
        transition: -webkit-transform .5s;
        transition: transform .5s;

        &.navOpen {
            @media(max-width:$screen-xs-max) {
                position: fixed;
            }
            // -webkit-transform: translateX(280px);
            //transform: translateX(280px);
            //max-width: calc(100% - 280px);
        }
    }
    /*Indent and margin - padding classes*/
    .indent-top-xs {
        padding-top: 3%;
    }

    .indent-bottom-xs {
        padding-bottom: 3%;
    }

    .indent-top {
        padding-top: 6%;
    }

    .indent-bottom {
        padding-bottom: 6%;
    }

    .indent-xs {
        padding-left: 2%;
        padding-right: 2%;

        @media (max-width:$screen-xxs-max) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .indent, .indent-sm {
        padding-left: 4%;
        padding-right: 4%;

        @media (max-width:$screen-xs-max) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .indent-md {
        padding-left: 6%;
        padding-right: 6%;
    }

    .indent-lg {
        padding-left: 10%;
        padding-right: 10%;
    }

    .indent-xs-none {
        @media (max-width:$screen-xs-max) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .indent-sm-none {
        @media (max-width:$screen-sm-max) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .indent-md-none {
        @media (max-width:$screen-md-max) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .indent-lg-none {
        @media (min-width:$screen-lg-min) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .indent-sm-xs {
        @media (max-width:$screen-sm-max) {
            padding-left: 7%;
            padding-right: 7%;
        }
    }

    .indent-xs-lg {
        @media (min-width:$screen-md-max) {
            padding-left: 5%;
            padding-right: 5%;
        }
    }

    .indent-lg-xs {
        @media (max-width:$screen-xs-max) and (min-width:$screen-xs-min) {
            padding-left: 10%;
            padding-right: 10%;
        }
    }

    hr {
        border-color: $brand-light-grey;
        margin-top: 30px;
        margin-bottom: 30px;

        &.half-hr {
            width: 50%;
            margin: 20px auto;
        }
    }

    .margin-top-xs {
        margin-top: 2% !important;
    }

    .margin-top-sm {
        margin-top: 4% !important;
    }

    .margin-top-md {
        margin-top: 6% !important;
    }

    .margin-top-lg {
        margin-top: 8% !important;
    }

    .margin-bottom-xs {
        margin-bottom: 2% !important;
    }

    .margin-bottom-sm {
        margin-bottom: 4% !important;
    }

    .margin-bottom-md {
        margin-bottom: 6% !important;
    }

    .margin-bottom-lg {
        margin-bottom: 8% !important;
    }

    .margin-left-xs {
        margin-left: 2% !important;
    }

    .margin-left-sm {
        margin-left: 4% !important;
    }

    .margin-left-md {
        margin-left: 6% !important;
    }

    .margin-left-lg {
        margin-left: 8% !important;
    }

    .margin-right-xs {
        margin-right: 2% !important;
    }

    .margin-right-sm {
        margin-right: 4% !important;
    }

    .margin-right-md {
        margin-right: 6% !important;
    }

    .margin-right-lg {
        margin-right: 8% !important;
    }

    .padding-top-xs {
        padding-top: 2% !important;
    }

    .padding-top-sm {
        padding-top: 4% !important;
    }

    .padding-top-md {
        padding-top: 6% !important;
    }

    .padding-top-lg {
        padding-top: 8% !important;
    }

    .padding-bottom-xs {
        padding-bottom: 2% !important;
    }

    .padding-bottom-sm {
        padding-bottom: 4% !important;
    }

    .padding-bottom-md {
        padding-bottom: 6% !important;
    }

    .padding-bottom-lg {
        padding-bottom: 8% !important;
    }

    .padding-left-xs {
        padding-left: 2% !important;
    }

    .padding-left-sm {
        padding-left: 4% !important;
    }

    .padding-left-md {
        padding-left: 6% !important;
    }

    .padding-left-lg {
        padding-left: 8% !important;
    }

    .padding-right-xs {
        padding-right: 2% !important;
    }

    .padding-right-sm {
        padding-right: 4% !important;
    }

    .padding-right-md {
        padding-right: 6% !important;
    }

    .padding-right-lg {
        padding-right: 8% !important;
    }
    //common form elements across all widgets
    //thumb
    input[type=range] {
        -webkit-appearance: none;
        width: 100%;
        margin: 9.8px 0;
        height: 80px;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        background: $brand-light-grey;
        border-radius: 0px;
        border: 0px solid #ffffff;
    }

    input[type=range]::-webkit-slider-thumb {
        box-shadow: 2px 2px 4px rgba(133, 135, 128, 0.5), 0px 0px 2px rgba(146, 147, 141, 0.5);
        border: 1px solid $brand-dark-grey;
        height: 28px;
        width: 36px;
        border-radius: 3px;
        background: #ffffff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -9.8px;
        text-align: center;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: $brand-light-grey;
    }

    input[type=range]::-moz-range-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        background: $brand-light-grey;
        border-radius: 0px;
        border: 0px solid #ffffff;
    }

    input[type=range]::-moz-range-thumb {
        box-shadow: 2px 2px 4px rgba(133, 135, 128, 0.5), 0px 0px 2px rgba(146, 147, 141, 0.5);
        border: 1px solid $brand-dark-grey;
        height: 28px;
        width: 36px;
        border-radius: 3px;
        background: #ffffff;
        cursor: pointer;
        text-align: center;
    }

    input[type=range]::-ms-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    input[type=range]::-ms-fill-lower {
        background: $brand-light-grey;
        border: 0px solid #ffffff;
        border-radius: 0px;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    }

    input[type=range]::-ms-fill-upper {
        background: $brand-lightest-grey;
        border: 0px solid #ffffff;
        border-radius: 0px;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    }

    input[type=range]::-ms-thumb {
        box-shadow: 2px 2px 4px rgba(133, 135, 128, 0.5), 0px 0px 2px rgba(146, 147, 141, 0.5);
        border: 1px solid $brand-dark-grey;
        height: 28px;
        width: 36px;
        border-radius: 3px;
        background: $brand-white;
        cursor: pointer;
        text-align: center;
    }

    input[type=range]:focus::-ms-fill-lower {
        background: $brand-med-grey;
    }

    input[type=range]:focus::-ms-fill-upper {
        background: $brand-light-grey;
    }
    /* HTML5 Boilerplate accessible hidden styles */
    [type="radio"] {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    /* One radio button per line */
    label {
        display: block;
        cursor: pointer;
    }

    [type="radio"] + span {
        display: block;
        opacity: 0.3;
    }
    /* the basic, unchecked style */
    [type="radio"] + span:before {
        content: '';
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: -0.4em;
        border-radius: 1.5em;
        border: 0.3em solid $brand-white;
        box-shadow: 0 0 0 0.12em $brand-black;
        margin-right: 0.75em;
        transition: 0.5s ease all;
        opacity: 0.3;
    }
    /* the checked style using the :checked pseudo class */
    [type="radio"]:checked + span:before {
        background: $brand-black;
        box-shadow: 0 0 0 0.12em $brand-black;
        opacity: 1;
    }

    [type="radio"]:checked + span {
        opacity: 1;
    }
    /* never forget focus styling */
    [type="radio"]:focus + span:before {
        opacity: 1;
    }
}
