/*Main Site Sass*/
@import '_common_mixins';
@import '_common_colours';
@import '_common_variables';
@import '_sage_bootstrap_variables';

.content-widget {
    &.product-pricing {
        .content-widget-inner {
            .wrapper {
                .header {
                    padding-bottom: 45px;
                }

                .section {
                     @media (max-width:$screen-xs-max) {
                            padding:0;
                         }
                    #sage_pricing_options {
                        
                    }

                    .product-price-panel {
                        margin: 0 15px;
                         @media (max-width:$screen-xs-max) {
                            margin:0 5px;
                         }
                        .panel {
                            &.panel-default {
                                border-radius:$default-border-radius;
                                a {
                                    &.button-green-no-arrow {
                                        border-color: $brand-black;
                                        background-color: transparent;
                                        color: $brand-black;
                                    }

                                    &.button-green-solid-invert, &.button-green-solid-block-invert {
                                        @include linear-h-gradient($brand-dark-grey, $brand-light-grey);
                                    }
                                }

                                .panel-heading {
                                    padding: 15px 15px 30px 15px;

                                    .h2 {
                                        margin: 5px 0;
                                    }

                                    hr {
                                        margin: 0;
                                    }
                                }

                                .panel-body {
                                    padding: 45px 15px;
                                    ul {
                                        list-style-image: url('/Content/images/sample_content_images/icon_tick_black.svg');
                                    }
                                    output {
                                        text-align:left;
                                        display:block;
                                        margin-bottom:20px;
                                        font-size: 16px;
                                        font-weight:bold;
                                    }
                                }

                                .panel-pre-heading {
                                    background-color: $brand-med-grey;
                                    min-height: 6px;
                                    border-top-left-radius:$default-border-radius;
                                    border-top-right-radius:$default-border-radius;
                                    font-weight:bold;
                                    .h3 {
                                        margin: 0;
                                        padding: 7px;
                                    }
                                }
                                margin-top: 10px;
                                &.popular {
                                    margin-top: 0;

                                    .panel-pre-heading {
                                        background-color: $brand-brilliant-green-AA;
                                    }

                                    .panel-heading {
                                        background-color: rgba($brand-brilliant-green-AA, 0.11);
                                    }

                                    a {
                                        &.button-green-no-arrow {
                                            border-color: $brand-brilliant-green-AA;
                                            background-color: transparent;
                                            color: $brand-brilliant-green-AA;
                                        }

                                        &.button-green-solid-invert, &.button-green-solid-block-invert {
                                            @include linear-h-gradient($brand-dark-green, $brand-light-green);
                                        }
                                    }
                                }

                                .discount-block {
                                    background-color: $brand-lightest-grey;
                                    padding: 10px;
                                    float: right;
                                    @media (max-width:$screen-xs-max) {
                                            padding: 5px;
                                         }
                                    p {
                                        margin: 0;
                                        font-weight: bold;
                                        @media (max-width:$screen-xs-max) {
                                            font-size:0.8em;
                                         }
                                    }

                                    .product-save {
                                    }

                                    .product-percent {
                                        font-size: $default-font-size-lg;

                                        @media (max-width: $screen-sm-max) {
                                            font-size: $default-font-size-md;
                                            line-height: $default-font-size-md;
                                        }
                                    }

                                    .product-price-strike {
                                        text-decoration: line-through;
                                    }
                                }

                                .price-block {
                                    .product-from {
                                    }

                                    p {
                                        margin: 0;
                                    }

                                    .product-price {
                                        font-size: $default-font-size-lg;
                                        line-height: $default-font-size-lg;

                                        @media (max-width: $screen-sm-max) {
                                            font-size: $default-font-size-md;
                                            line-height: $default-font-size-md;
                                        }

                                        .produnt-pre-decimal {
                                            font-size: $default-font-size-lg;
                                        }
                                    }

                                    .product-per {
                                    }
                                }
                            }
                        }
                    }
                }

                .footer {
                }
            }
        }
    }
}
