/*Main Site Sass*/
@import '_common_mixins';
@import '_common_colours';
@import '_common_variables';
@import '_sage_bootstrap_variables';

.content-widget {
    &.hero-banner {
        @include reset-bootstrap-margin($bootstrap-margin-reset);
        background-color: transparent;
        color: $brand-white;
        height: 420px;
        overflow: hidden;

        .content-widget {
            &.generic-content-hero {
                .content-widget-inner {
                    padding-top: 5%;
                    padding-bottom: 5%;
                    padding-left: 15px;
                    padding-right: 15px;
                    display: table;
                    width: 100%;
                    margin: 0 auto;
                    max-width: 1360px;

                    .wrapper {
                        
                        display: table-cell;
                        vertical-align: middle;

                        .wrapper-content {
                            header, .header {
                            }

                            section, .section {
                            }

                            footer, .footer {
                            }
                        }
                    }
                }

                &.with-back-image {
                    background-position: top center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }

            .active & {
                .content-widget-inner {
                    padding-top: 5%;
                    padding-bottom: 5%;

                    .wrapper {
                        .wrapper-content {
                            header, .header {
                            }

                            section, .section {
                            }

                            footer, .footer {
                            }
                        }
                    }
                }
            }
        }
    }
}
