/*Main Site Sass*/
@import '_common_mixins';
@import '_common_colours';
@import '_common_variables';
@import '_sage_bootstrap_variables';


.content-widget {
    &.content-form {
        .content-widget-inner {
            .header {
                padding-bottom: 60px;
            }

            .section {
                .form-group {
                    /* HTML5 Boilerplate accessible hidden styles */
                    [type="radio"] {
                        border: 0;
                        clip: rect(0 0 0 0);
                        height: 1px;
                        margin: -1px;
                        overflow: hidden;
                        padding: 0;
                        position: absolute;
                        width: 1px;
                    }

                    &.has-error {
                        input, select {
                            border-bottom: 1px solid #a94442;
                            opacity: 0.5;

                            &:focus {
                                border-bottom: 1px solid $brand-fuchsia-dark;
                                opacity: 0.5;
                            }
                        }

                        label {
                            color: #a94442;
                            opacity: 0.5;
                        }
                    }

                    .help-block {
                        display: block !important;
                        transform: translateY(-126%);
                        position: absolute;
                        opacity: 0;

                        &.with-errors {
                            display: block !important;
                            opacity: 0.5;
                        }
                    }

                    .radio + .radio {
                        margin-top: 10px;
                    }

                    input:focus + label,
                    select:focus + label,
                    input:focus + label + label,
                    select:focus + label + label {
                        color: $brand-fuchsia-dark;
                        opacity: 1;
                    }

                    label {
                        transition: $default-transition-time ease;
                        text-transform: uppercase;
                        font-size: 12px;
                        opacity: 0.3;
                        transform: translateY(-240%);

                        &.pull-right {
                            text-transform: none;
                        }
                    }

                    .radio + .radio {
                        @media(max-width:$screen-xxs-max) {
                            margin-bottom: 30px;
                        }
                    }

                    .radio {
                        padding-bottom: 40px;

                        @media(max-width:$screen-xxs-max) {
                            padding-bottom: 0px;
                        }

                        input,
                        label {
                            transition: $default-transition-time ease;
                            text-transform: none;
                            font-size: inherit;
                            opacity: 1;
                            transform: none;
                        }
                    }

                    .filled {
                        transition: $default-transition-time ease;
                        opacity: 1;
                    }

                    .filled + label,
                    .filled + label + label {
                        transition: $default-transition-time ease;
                        opacity: 1;
                    }

                    input, select {
                        border: none;
                        border-bottom: 1px solid $off-brand-grey-dark;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        transition: $default-transition-time ease;
                        border-radius: 0;
                        opacity: 0.3;
                        margin-bottom: 10px;

                        &:focus {
                            border-bottom: 1px solid $brand-fuchsia-dark;
                            opacity: 1;
                        }

                        &:valid {
                            opacity: 1;
                        }
                    }
                }
            }

            .footer {
            }
        }
    }

    &.content-WFFM {
        .content-widget-inner {
            .header {
                padding-bottom: 60px;
            }

            .section {
                form {
                    .validation-summary-errors ul {
                        display: none;
                    }

                    .form-group {
                        padding: 10px 15px;

                        .help-block {
                            opacity: 1 !important;
                            transform: translateY(-55%) !important;
                        }

                        label.onFocus {
                            opacity: 1;
                            color: $brand-fuchsia-dark !important;
                        }

                        input.onFocus,
                        select.onFocus {
                            opacity: 1;
                            border-bottom-color: $brand-fuchsia-dark !important;
                        }

                        &.halfAvailableWidth {
                            @media(max-width:$screen-xs-max) {
                                width: 100%;
                            }
                        }

                        &.has-error {
                            input, select {
                                border-bottom: 1px solid #d00;
                                opacity: 1;

                                &:focus {
                                    border-bottom: 1px solid rgba($brand-fuchsia-dark,0.5);
                                }
                            }

                            label {
                                color: #d00;
                                opacity: 1;
                            }
                        }

                        .help-block {
                            display: block !important;
                            transform: translateY(-126%);
                            position: absolute;
                            opacity: 0;

                            &.with-errors {
                                display: block !important;
                                opacity: 0.5;
                            }
                        }
                        /*.radio + .radio {
                        margin-top: 10px;
                    }*/
                        input:focus + label,
                        select:focus + label,
                        input:focus + label + label,
                        select:focus + label + label {
                            color: $brand-fuchsia-dark;
                            opacity: 1;
                        }


                        label {
                            transition: $default-transition-time ease;
                            text-transform: uppercase;
                            font-size: 12px;
                            opacity: 0.3;
                            //transform: translateY(-240%);
                            &.pull-right {
                                text-transform: none;
                            }
                        }

                        &.scfRadioButtonListBorder {
                            &.has-success {
                                label {
                                    color: inherit !important;
                                }

                                .scfRadioButtonListBorder.radio {
                                    label {
                                        color: $brand-black !important;
                                    }
                                }
                            }

                            label {
                                transition: $default-transition-time ease;
                                text-transform: none;
                                opacity: 1;
                                transform: none;
                                font-weight: normal;
                                font-size: 16px;
                                line-height: 20px;
                                font-family: AdelleSansSAGE, sans-serif;
                            }

                            .scfRadioButtonListBorder.radio {
                                label {
                                    padding-right: 10px;
                                    padding-top: 15px;
                                }

                                table {
                                    &.scfRadioButtonListBorder {
                                        width: 100%;

                                        tr {
                                            td {
                                                opacity: 1;

                                                @media(max-width:$screen-xs-max) {
                                                    width: 100%;
                                                    display: block;
                                                }

                                                label {
                                                    input {
                                                        opacity: 1;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        /*.radio + .radio {
                        @media(max-width:$screen-xxs-max) {
                            margin-bottom: 30px;
                        }
                    }

                    .radio {
                        padding-bottom: 40px;

                        @media(max-width:$screen-xxs-max) {
                            padding-bottom: 0px;
                        }

                        input,
                        label {
                            transition: $default-transition-time ease;
                            text-transform: none;
                            font-size: inherit;
                            opacity: 1;
                            transform: none;
                        }
                    }*/
                        &.has-success {
                            transition: $default-transition-time ease;
                            opacity: 1;
                        }

                        &.has-success label,
                        &.has-success label label {
                            transition: $default-transition-time ease;
                            opacity: 1;
                        }

                        input, select {
                            border: none;
                            border-bottom: 1px solid $off-brand-grey-dark;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                            transition: $default-transition-time ease;
                            border-radius: 0;
                            opacity: 0.3;
                            margin-bottom: 10px;

                            &:focus {
                                border-bottom: 1px solid $brand-fuchsia-dark;
                                opacity: 1;
                            }
                        }
                    }

                    .form-submit-border {
                        width: 50%;
                        float: right;
                        padding: 30px 15px 0;

                        @media(max-width:$screen-xs-max) {
                            width: 100%;
                        }

                        .btn.btn-default {
                            float: right;
                            width: 100%;
                            color: #ffffff;
                            background-image: url("/Content/images/chevron.svg"), -ms-linear-gradient(left, #990069, #C8006E);
                            background-image: url("/Content/images/chevron.svg"), -webkit-linear-gradient(left, #990069, #C8006E);
                            background-image: url("/Content/images/chevron.svg"), -o-linear-gradient(right, #990069, #C8006E);
                            background-image: url("/Content/images/chevron.svg"), -moz-linear-gradient(right, #990069, #C8006E);
                            background-image: url("/Content/images/chevron.svg"), linear-gradient(to right, #990069, #C8006E);
                            background-size: 36px 36px,100% 100%;
                            background-position: 94% 50%, 0% 0%;
                            background-repeat: no-repeat;
                            border: 1px solid;
                            margin: 0;
                            white-space: pre-wrap !important;
                            word-wrap: normal;
                            padding: 12px 70px 12px 12px;
                            font-size: 16px;
                            line-height: 1.7;
                            border-radius: 4px;
                            border: none;
                            display: inline-block;
                            margin-bottom: 0;
                            font-weight: bold;
                            text-align: left;
                            vertical-align: middle;
                            touch-action: manipulation;
                            cursor: pointer;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                            position: relative;

                            &:hover, &:active, &:focus, &:visited {
                                text-decoration: none;
                                color: $brand-white;
                                @include default-shadow-hover;
                            }
                        }
                    }
                }
            }

            .footer {
            }
        }
    }
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
    color: $brand-primary !important;
    opacity: 1;
}

.has-success .form-control {
    border-color: $brand-primary !important;
    opacity: 1 !important;
}

.has-success .form-control:focus {
    border-color: $brand-primary !important;
}

.has-success .input-group-addon {
    color: $brand-primary !important;
    border-color: $brand-primary !important;
}

.has-success .form-control-feedback {
    color: $brand-primary !important;
}
