/*Main Site Sass*/
@import '_common_mixins';
@import '_common_colours';
@import '_common_variables';
@import '_sage_bootstrap_variables';

.content-widget {
    &.tab-control-new {
        .content-widget-inner {

            //padding-top: 3%;
            //padding-bottom: 3%;

            .header {
            }

            .section {
                .tab-control-id {
                    @media(max-width:$screen-xxs-max) {
                        .tab-control-id {
                            .nav {
                                &.nav-tabs {
                                    li {
                                        a {
                                            max-width: 110px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .nav {
                        &.nav-tabs {
                            @media (max-width:$screen-xs-max) {
                                display: -webkit-box;
                                display: -webkit-flex;
                                display: -ms-flexbox;
                                display: flex;
                            }
                            position:relative;

                            li {
                                padding: 0;
                                margin: 0 15px 0 15px;
                                font-size: $default-font-size-md;
                                border-bottom: 6px transparent solid;
                                border-radius: 0;
                                max-width: 320px;
                                opacity: 0.33;
                                transition: $default-transition-time ease;

                                @media(max-width:$screen-sm-max) {
                                    display: none;
                                }

                                &.navigation {
                                    display: none;
                                    opacity: 1;
                                    position:absolute;
                                    top:50%;
                                    margin-top:-25px;

                                    @media(max-width:$screen-sm-max) {
                                        display: inline-block;

                                        &.disabled {
                                            visibility: hidden;
                                            cursor: inherit;
                                        }
                                    }

                                    &.btnNext {
                                        right:0;
                                    }
                                    &.btnPrevious {
                                            left: 0;
                                    }

                                    transform: translateY(10px);
                                    cursor: pointer;
                                }

                                .icon {
                                    display: block;
                                    margin: 8px 8px 0 0;
                                }

                                &.active {
                                    border-bottom: 6px solid;
                                    transition: $default-transition-time ease;
                                    opacity: 1.0;

                                    @media(max-width:$screen-sm-max) {
                                        display: inline-block;
                                        margin: 0 auto;
                                    }

                                    a {
                                        color: inherit;
                                        transition: $default-transition-time ease;
                                    }
                                }

                                a {
                                    border: none;
                                    border-radius: 0;
                                    padding: 15px 0 15px 0;
                                    transition: $default-transition-time ease;
                                    @media(max-width:$screen-xxs-max) {
                                        max-width: 140px;
                                    }

                                    &:hover {
                                        background-color: transparent;
                                    }
                                }
                            }
                        }
                    }
                }
                .tab-content {
                    .tab-pane {
                        .widget-placeholder-inner {

                        }
                        &.fade {
                            transition: $default-transition-time ease;
                            opacity:0;
                            transform: translateX(-2%);
                            &.active {
                                &.in {
                                    transform: translateX(0);
                                    opacity:1;
                                }
                            }
                        }
                    }
                }
            }

            .footer {
            }

            .nav-tabs.centered > li, .nav-pills.centered > li {
                float: none;
                display: inline-block;
            }

            .nav-tabs.centered, .nav-pills.centered {
                text-align: center;
            }

        }
    }
}
