@import '_common_mixins';
@import '_common_colours';
@import '_common_variables';

#page_section_content_tabs {
    &.brand-green{
         ul.nav.nav-tabs {
        display: inline-block;
        border-bottom: 1px solid transparent;

        li {
            &.active {
                a {
                    color: $brand-light-green-AA;
                    font-weight: bold;
                    border-top: 5px solid $brand-light-green-AA;
                    background: transparent;
                }

                .btm_triangle {
                    display: block;
                }
            }

            a {
                display: block;
                padding-right: 70px;
                padding-left: 70px;
                margin-right: 2px;
                line-height: 1.42857;
                border: 1px solid transparent;
                border-top: 5px solid transparent;
                border-radius: 0 0 0 0;

                &:hover {
                    border-top: 5px solid $brand-light-green-AA;
                    background: transparent;
                }
            }

            .btm_triangle {
                display: none;
                position: absolute;
                width: 0;
                height: 0;
                line-height: 0;
                border: 1em solid transparent;
                border-top: 1em solid $brand-white;
                left: 40%;
                top: 48px;
                z-index: 1000;
            }
        }
    }

    }

   



    .tab-content {
        background: $brand-light-green-AA;
        color:$brand-white;
        margin: 0 auto;
        padding: 5%;

    }
}
