
/*Main Site Sass*/
@import '_common_mixins';
@import '_common_colours';
@import '_common_variables';


#page_footer {
    color: $brand-dark-grey;
    font-size: 0.9em;
    line-height: 1.5em;

    #page_footer_nav_content, #page_footer_other_sites_content {
        @media (max-width:$screen-xs-max) {
            a {
                line-height: 2em;
            }
        }

        .header {
            margin-bottom: 10px;
        }
    }

    .fa-external-link {
        margin-left: 10px;
    }

    .footer-logo-nav {
        text-align: left;
        font-size: 0.9em;
        @media (max-width:$screen-xs-max) {
            text-align: center;
        }
    }

    .footer-logo {
        text-align: right;

        @media (max-width:$screen-xs-max) {
            img {
                margin-top: 20px;
            }
        }

        @media (max-width:$screen-xs-max) {
            text-align: center;
        }
    }

    .header {
        font-weight: bold;
    }

    .search-outer {
        .header {
        }

        .search-container {
            .form-group {
                padding-top: 16px;
                border-bottom: 1px solid $brand-dark-grey;

                .search-box {
                    display: inline-block;
                    border: none;
                    border-radius: 0;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    width: auto;
                    background-color: transparent;
                }

                .btn-search {
                    display: inline-block;
                    border: none;
                    background: none;
                }
            }
        }

        .social-icons {
            font-size: 18px;
            margin-top: 20px;

            @media (max-width:$screen-xs-max) {
                text-align: center;

                .social {
                    margin-bottom: 10px;
                    display: block;
                }
            }
        }
    }


    a {
        text-decoration: underline;

        &.social {
            text-decoration: none;
        }
    }

    .footer-logo {
        margin-bottom: 15px;
    }
}
