@import "sage_bootstrap_variables";
@import "common_colours";
@import "common_mixins";

.sticky-header {
  position: relative;
  color: $brand-white;
  z-index: 100;
  transition: all 0.5s ease-out;

  &.amethyst .sticky-row {
    @include linear-h-gradient(rgba($brand-amethyst, 1.0), rgba($brand-amethyst-light, 1.0));
  }

  &.azul .sticky-row {
    @include linear-h-gradient(rgba($brand-azul-dark, 1.0), rgba($brand-azul, 1.0));
  }

  &.fuchsia .sticky-row {
    @include linear-h-gradient(rgba($brand-fuchsia-dark, 1.0), rgba($brand-fuchsia, 1.0));
  }

  &.plum .sticky-row {
    @include linear-h-gradient(rgba($brand-plum-dark, 1.0), rgba($brand-plum, 1.0));
  }

  .sticky-row {
    @include linear-h-gradient(rgba($off-brand-grey-dark, 1.0), rgba($off-brand-grey, 1.0));
  }

  &.sticky {
    .sticky-header-content {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  &.no-vis {
    opacity: 0;
    pointer-events: none;
  }

  .sticky-header-content {
    overflow: visible;

    .sticky-row:last-child {
      padding-bottom: 6px;
      border-bottom: 1px solid $brand-white;
    }
  }

  .action-bar {
    padding-top: 6px;

    .title {
      float: left;
      font-size: 30px;
    }

    .actions {
      float: right;
      text-align: right;

      .lead-in {
        display: inline-block;
        font-size: 14px;

        > em {
          font-size: 24px;
          font-style: normal;
        }
      }

      a {
        padding: 4px 70px 4px 25px;
        margin: 0 20px;
        vertical-align: bottom;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .nav-bar {
    transform-origin: top;

    ul {
      margin: 0;
      font-size: 13px;
      padding: 0;
      list-style: none;

      &:after {
        content: "";
        display: block;
        clear: both;
      }

      li {
        float: left;
        margin-right: 12px;

        a {
          display: inline-block;
          color: #eee;
          line-height: normal;
          padding: 5px 16px;
          border-radius: 4px;

          &.active, &:hover {
            background: rgba(255, 255, 255, 0.15);
            margin-bottom: 0;
            border: 1px solid rgba(255, 255, 255, 0.25);
            padding: 4px 15px;
            color: $brand-white;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media(max-width: $screen-xs-max) {
  .sticky-header {
    height: auto;
    overflow: visible;

    &.amethyst .actions {
      @include linear-h-gradient(rgba($brand-amethyst, 1.0), rgba($brand-amethyst-light, 1.0));
    }

    &.azul .actions {
      @include linear-h-gradient(rgba($brand-azul-dark, 1.0), rgba($brand-azul, 1.0));
    }

    &.fuchsia .actions {
      @include linear-h-gradient(rgba($brand-fuchsia-dark, 1.0), rgba($brand-fuchsia, 1.0));
    }

    &.plum .actions {
      @include linear-h-gradient(rgba($brand-plum-dark, 1.0), rgba($brand-plum, 1.0));
    }

    .actions {
      @include linear-h-gradient(rgba($off-brand-grey-dark, 1.0), rgba($off-brand-grey, 1.0));
    }

    &.sticky {
      .sticky-header-content {
        position: static;
      }
    }

    &.no-nav {
      .action-bar .title:after {
        display: none;
      }
    }

    .action-bar {
      border-bottom: 1px solid $brand-white;
      padding: 0;

      .title {
        float: none;
        position: relative;
        padding: 15px;
        font-size: 24px;
        cursor: pointer;

        &:after {
          content: "";
          height: 15px;
          width: 15px;
          display: block;
          border-right: 1px solid $brand-white;
          border-bottom: 1px solid $brand-white;
          transform: rotate(45deg);
          position: absolute;
          right: 25px;
          top: 30%;
        }

        &.open {
          &:after {
            transform: rotate(225deg);
            bottom: 30%;
            top: initial;
          }
        }
      }

      .actions {
        position: fixed;
        float: none;
        bottom: 0;
        left: 0;
        right: 0;
        padding-top: 3px;
        padding-bottom: 3px;

        a {
          width: auto;
          padding: 0 33px 0 8px;
          margin: 5px 0;

          &:before {
            width: 0;
            top: 2px;
            bottom: 10px;
          }

          &:after {
            width: 8px;
            height: 8px;
            right: 10px;
          }
        }
      }
    }

    .nav-bar {
      position: absolute;
      left: 0;
      right: 0;
      transform: scaleY(0);
      margin: 0;
      overflow: hidden;
      transition: all 0.5s ease-out;

      &.open {
        transform: scaleY(1);
        overflow: visible;
      }

      ul {
        padding: 15px 15px 20px;

        li {
          float: none;
          margin-right: 0;
          padding: 9px 0;
          font-size: 16px;

          &:after {
            content: none;
            border: none;
          }
        }
      }
    }
  }
}