/*Main Site Sass*/
@import '_common_mixins';
@import '_common_colours';
@import '_common_variables';

a {
    &.text-link-white { 
        color:$brand-white;
        text-decoration:underline;
    }

    &.text-link-green {
        color:$brand-brilliant-green-AA;
         text-decoration:underline;
    }
    
    &.text-link-blue {
        color:$brand-azul-light;
         text-decoration:underline;
    }

    &.text-link-pink {
        color:$brand-fuchsia;
         text-decoration:underline;
    }

    &.button-black {
        border-color: $brand-black;
        background-color: transparent;
        color: $brand-black;
    }

    &.button-black-block {
        border-color: $brand-black;
        background-color: transparent;
        color: $brand-black;
    }

    &.button-black-block-back {
        border-color: $brand-black;
        background-color: transparent;
        color: $brand-black;
    }

    &.button-black-block-no-icon {
        border-color: $brand-black;
        background-color: transparent;
        color: $brand-black;
    }

    &.button-black-solid-invert {
        color: $brand-white;
        @include linear-h-gradient($brand-black, $off-brand-grey-dark);
    }

    &.button-black-solid-block-invert {
        color: $brand-white;
        @include linear-h-gradient($brand-black, $off-brand-grey-dark);
    }

    &.button-white {
        border-color: $brand-white;
        background-color: transparent;
        color: $brand-white;
    }

    &.button-white-block {
        border-color: $brand-white;
        background-color: transparent;
        color: $brand-white;
    }

    &.button-white-back {
        border-color: $brand-white;
        background-color: transparent;
        color: $brand-white;
    }
    
    &.button-white-block-back{
        border-color: $brand-white;
        background-color: transparent;
        color: $brand-white;
    }

    &.button-white-solid-invert {
        border-color: $brand-white;
        background-color: $brand-white;
        color: $brand-black;
    }

    &.button-green {
        border-color: $brand-brilliant-green-AA;
        background-color: transparent;
        color: $brand-brilliant-green-AA;
    }

    &.button-green-block {
        border-color: $brand-brilliant-green-AA;
        background-color: transparent;
        color: $brand-brilliant-green-AA;
    }

    &.button-green-back {
        border-color: $brand-brilliant-green-AA;
        background-color: transparent;
        color: $brand-brilliant-green-AA;
    }

    &.button-green-block-back {
        border-color: $brand-brilliant-green-AA;
        background-color: transparent;
        color: $brand-brilliant-green-AA;
    }

    &.button-green-no-arrow {
        border-color: $brand-brilliant-green-AA;
        background-color: transparent;
        color: $brand-brilliant-green-AA;
    }

    &.button-green-solid-invert {
        color: $brand-white;
        @include linear-h-gradient($brand-dark-green, $brand-brilliant-green);
    }

    &.button-green-solid-block-invert {
        color: $brand-white;
        @include linear-h-gradient($brand-dark-green, $brand-brilliant-green);
    }

    &.button-blue {
        border-color: $brand-azul-light;
        background-color: transparent;
        color: $brand-azul-light;
    }

    &.button-blue-block {
        border-color: $brand-azul-light;
        background-color: transparent;
        color: $brand-azul-light;
    }

    &.button-blue-back {
        border-color: $brand-azul-light;
        background-color: transparent;
        color: $brand-azul-light;
    }

    &.button-blue-block-back {
        border-color: $brand-azul-light;
        background-color: transparent;
        color: $brand-azul-light;
    }

    &.button-blue-solid-invert {
        border-color: $brand-azul-light;
        background-color: $brand-azul-light;
        color: $brand-white;
        @include linear-h-gradient($brand-azul-dark, $brand-azul-light);
    }

    &.button-blue-solid-block-invert {
        border-color: $brand-azul-light;
        background-color: $brand-azul-light;
        color: $brand-white;
        @include linear-h-gradient($brand-azul-dark, $brand-azul-light);
    }

    &.button-pink {
        border-color: $brand-fuchsia;
        background-color: transparent;
        color: $brand-fuchsia;
    }

    &.button-pink-block {
        border-color: $brand-fuchsia;
        background-color: transparent;
        color: $brand-fuchsia;
    }

    &.button-pink-back {
        border-color: $brand-fuchsia;
        background-color: transparent;
        color: $brand-fuchsia;
    }

    &.button-pink-block-back {
        border-color: $brand-fuchsia;
        background-color: transparent;
        color: $brand-fuchsia;
    }

    &.button-pink-solid-invert {
        color: $brand-white;
        @include linear-h-gradient($brand-fuchsia-dark, $brand-fuchsia);
    }

    &.button-pink-solid-block-invert {
        color: $brand-white;
        @include linear-h-gradient($brand-fuchsia-dark, $brand-fuchsia);
    }
}

