/*Main Site Sass*/
@import '_common_mixins';
@import '_common_colours';
@import '_common_variables';
@import '_sage_bootstrap_variables';

body {
    &.IsPageEditor {
        .carousel-inner{
            >.item{
                display:block;
            }
        }

        .carousel-cover-item {
            position: absolute;
        }

        #page_section_content {
            min-height: 20px;
        }

        .container-fluid {
            min-height: 20px;
        }

        .content-widget {
            &.hero-banner {
                &.hero-tabs {
                     height:auto;
                    .hero-banner-content {
                        height:auto;
                        background-color: rgba($brand-black, 0.5);

                        .carousel-indicators {
                            position: relative;
                            bottom: 0;
                        }

                        .carousel {
                            &.fade {
                                height:auto;
                                .carousel-inner {
                                    height:auto;
                                    .scLooseFrameZone {
                                        position: relative;
                                        display: block;
                                    }

                                    .item {
                                        height:auto;
                                        opacity: 1;
                                        position: relative;
                                        display: block;
                                        pointer-events: auto;

                                        .content-widget {
                                            padding-top: 0;
                                            padding-bottom: 0;

                                            .content-widget-inner {
                                                height:auto;
                                                padding-top: 0;
                                                padding-bottom: 0;
                                                opacity: 1;
                                                transform: translate(0, 0);
                                                display:block;
                                                .wrapper {
                                                    display:block;
                                                    .wrapper-content {

                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            //.row-eq-height in capabilities component does not show the placeholders correctly
            &.plus-4-col {
                .col-sm-3 {
                    &.row-eq-height {
                        display: block;
                    }
                }
            }

            &.product-device {
                .product-example {
                    img {
                        display: block !important;
                        float: left;
                        max-height: 200px;
                        margin-left: 20px;
                        max-width: 32%;
                    }
                }
            }

            &.tab-control-new {
                .content-widget-inner {
                    .section {
                        .tab-content {
                            .tab-pane {

                                &.fade {
                                    opacity: 1;
                                    transform: translateX(0);
                                }
                            }
                        }
                    }
                }
            }
        }
    
        }

    &.IsPreview {
        #page_section_content {
            min-height: auto;
        }

        .container-fluid {
            min-height: auto;
        }
    }
}
