/*Main Site Sass*/
@import '_common_mixins';
@import '_common_colours';
@import '_common_variables';

.h1{
    font-size:2.9em;
    line-height:1.3;
    font-weight:300;
}

.h2{
    font-size: 1.9em;
    line-height:1.3;
    font-weight:300;
}

.h3{
    font-size: 1.4em;
    line-height:1.3;
    font-weight:300;
}

.h4{
    font-size:1.25em;
    line-height:1.3;
    font-weight:300;
}

.h5{
    font-size:1.12em;
    line-height:1.3;
    font-weight:300;
}

.h6{
    font-size:1em;
    line-height:1.3;
    font-weight:300;
}
.strong {
    font-weight: bold;
}
